.navbar-brand {
    background-color: rgb(207, 159, 159);
    font-size: 20px;
    padding: 10px;
}

.navbar-expand-lg {
    background-color: rgb(216, 157, 157);
}

.navbar-nav {
    background-color: rgb(20, 20, 20);
}

body {
    background-color: rgb(10, 10, 10);
}

.title {
    color: rgb(22, 24, 24);
}

.sub_heading {
    color: rgb(196, 182, 182);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box {
    min-height: 100px;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
    color: rgb(216, 193, 193);
    background-color: rgb(26, 24, 24);

}

.visualization {
    width: 50%;
    height: 50%;
    margin-left: center;
    margin-right: center;
}


img {
    width: 100%;
    height: 100%;
    display: -moz-inline-box;
    margin-left: auto;
    margin-right: auto;

}

@media (max-width: 700px) {
    .navbar-expand-lg {
        max-height: none;
        background-color: rgb(22, 22, 22);
    }

    .navbar div {
        margin: inherit;
    }

    .navbar-brand {
        padding: 10px;
    }

    button {
        margin-right: 30px;
    }

    button:focus {
        outline: 10px dotted;
        outline: auto 15px;
    }
}
