/* navbar styling*/
.navbar {
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(240, 125, 207);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

/*footer styling*/
.site-footer {
    background-color: rgb(215, 206, 206);
    margin-top: 50px;
    position: center;
    bottom: 10px;
    width: 100%;
}

/* header styling*/
h2 {
    color: rgb(237, 243, 151);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

/* image styling*/
.img-thumbnail {
    padding: 15px;
    border: rgb(16, 16, 16);
}

/* fontstyling for text*/
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px;
}

/* body background*/
body {
    background-color: rgb(239, 233, 233);
}

.col-lg-10 {
    background-color: rgb(11, 11, 11);
    padding-top: 10px;
    padding-bottom: 10px;
}

/* image border styling*/
.pic {
    border: 5px solid rgb(20, 20, 20);
}

.nav-item.dropdown.show {
    background-color: rgb(155, 105, 240);
}

.dropdown-menu {
    margin: 0;
}

/* content styling*/
.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.content.bg-white {
    margin-top: 15px;
}


/* table text adjustments*/
tr>th:nth-child(1),
tr>th:nth-child(3),
tr>th:nth-child(6),
tr>th:nth-child(7),
tr>th:nth-child(8),
tr>th:nth-child(9),
tr>th:nth-child(10),
tr>td:nth-child(1),
tr>td:nth-child(3),
tr>td:nth-child(6),
tr>td:nth-child(7),
tr>td:nth-child(8),
tr>td:nth-child(9),
tr>td:nth-child(10) {
    text-align: right;
}


/* small screen adjustments*/
@media(max-width:767px) {
    .navbar.bg-light {
        background-color: rgb(231, 237, 236) !important;
    }

    .navbar-collapse {
        background-color: #f8f9fa;
    }

    .navbar {
        padding: inherit;
    }
}
