/* Body */
body {
    height: 100%;
    width: 100%;
    background-color: #EDEDED;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Navbar */
.navigation {
    color: white;
    font-family: sans-serif;
    background-color: #590d8b;
    font-weight: bold;
    padding: inherit;
}

.navigation .navbar-brand {
    color: white;
    font-family: Verdana;
    font-size: 30px;
    background-color: #590d8b;
    font-weight: bold;
    margin-left: 30px;
    padding: 10px;
    box-sizing: border-box;
}

.navbar {
    max-height: 70px;
    background-color: white;
    font-size: 16px;
}

.dropdown-item {
    color: #6D8092;
}

/* Show different color when hovering over items on the navbar */
.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #E7E7E7;
}

.navigation .nav-link:hover {
    background-color: #E7E7E7;
}

.navigation .navbar-brand:hover {
    color: rgb(200, 248, 246);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Images */
img {
    width: 100%;
    height: 100%;
}

.image-fluid:hover {
    border-color: #590d8b;
    border-style: solid;
}

.image-active {
    border-color: #590d8b;
    border-style: solid;
}

/* Surrond imgage with text */
.visualization {
    width: 50%;
    height: 50%;
}

/* Title */
.title {
    color: #590d8b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-top: 25px;
}

/* Paragraph */
p {
    color: #6D8092;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* Box */
.box {
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 10px 20px 15px;
    color: black;
    background-color: white;
}

/* Table */
.table-responsive {
    font-family: Arial, Helvetica, sans-serif;
}

/* Footer */
footer {
    background-color: lightslategrey;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #590d8b;
    color: white;
    min-height: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding-top: 15px;
}

@media(max-width: 992px) {
    .navbar-brand {
        color: white;
        font-size: 30px;
        background-color: #590d8b;
        padding: 10px;
    }

    .navbar {
        max-height: none;
        padding: inherit;
    }

    .container {
        background-color: white;
    }
}