body {
    padding: 5px;
    margin-inline: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 20px;
    line-height: 50%; 
    color:rgb(17, 16, 16);
    background-color: rgb(230, 230, 218);
}

header {
    background-color: rgb(206, 172, 172);
}

